body {
    margin: 20px;
}

.logo {
    width: 187px;
    height: auto;
}

.logo {
    height: 57px;
    width: auto;
}

.linkedin-logo {
    height: 25px;
    width: auto;
}

.header-bar {
    display: flex;
    justify-content: center;
}

.header-bar-column {
    width: 50%;
}

.header-bar-column:nth-child(2) {
    display: flex;
    justify-content: flex-end;
    align-items: center;   
}