
body {
    margin: 20px;
}



.header-bar {
    display: flex;
    justify-content: center;
}

.header-bar-column {
    width: 50%;
}

.header-bar-column:nth-child(2) {
    display: flex;
    justify-content: flex-end;
    align-items: center;   
}


.catchphrase {
    font-family: 'Alata', sans-serif;
    color: #303030;
    opacity: 0.8;
    font-size: 63px;
}

.emphasis {
    color: #14d959;
    opacity: 1.0;

}


.headline {
    display: flex;
    align-items: center;
}
