
body {
    margin: 0px;
}



.header-bar {
    display: flex;
    justify-content: center;
}

.header-bar-column {
    width: 50%;
}

.header-bar-column:nth-child(2) {
    display: flex;
    justify-content: flex-end;
    align-items: center;   
}


.headline {
    display: flex;
    align-items: center;
    margin-left: 25px;
    
}

.catchphrase {
    font-family: 'Alata', sans-serif;
    color: #303030;
    opacity: 0.8;
    font-size: 51px;
    line-height: 119%;
    
}






.best-roomie {
    color: #14d959;
    opacity: 1.0;
}


.description {
    
    display:flex;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    color: #303030;
    opacity: 0.8;
    font-size: 23px;
    line-height: 99%;
}






.spare-the {
    display:flex;
    align-items: left;
    font-family: 'Open Sans', sans-serif;
    color: #303030;
    opacity: 0.8;
    font-size: 21px;
    line-height: 99%;
    margin-left: 25px;
}


.rotating-words {
    color: #14d959;
    font-weight: bolder;
}



.leftside, .rightside {
    height: 50vh;
    width: 100%;
}


@media screen and (min-width:768px)
{
    .leftside, .rightside {
        height:100vh;
    }
}


.leftside {
    background:white;
}

.rightside {
    background: #14d959;
}


.top-left-logo {
    margin: 25px;
}

.new-line{
    color: white;
}